<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs'); %>
</head>

<body>

    <%- include('../partials/sidebar.ejs'); %>
        <div id="main">
            <%- include('../partials/header.ejs'); %>
                <div class="page-content">
                    <section id="basic-vertical-layouts">
                        <div class="row match-height">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Add</h4>
                                    </div>
                                    <div class="card-content">
                                        <div class="card-body">
                                            <form class="form form-vertical" id="form">
                                                <div id="message"></div>
                                                <div class="form-body">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label for="first-name-vertical">Type <span
                                                                        class="text-danger">*</span></label>
                                                                <select class="form-select" name="type">
                                                                    <option value="0">Online</option>
                                                                    <option value="1">Offline</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label for="first-name-vertical">Image<span
                                                                        class="text-danger">*</span></label>
                                                                <input class="form-control" type="file" name="image">
                                                            </div>
                                                        </div>

                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label for="first-name-vertical">Name<span
                                                                        class="text-danger">*</span></label>
                                                                <input type="text" class="form-control" name="name"
                                                                    value="">
                                                            </div>
                                                        </div>

                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label for="first-name-vertical">Date<span
                                                                        class="text-danger">*</span></label>
                                                                <input type="date" class="form-control" name="date"
                                                                    value="">
                                                            </div>
                                                        </div>

                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label for="first-name-vertical">Time start<span
                                                                        class="text-danger">*</span></label>
                                                                <input type="time" class="form-control" name="from"
                                                                    value="">
                                                            </div>
                                                        </div>

                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label for="first-name-vertical">Time end<span
                                                                        class="text-danger">*</span></label>
                                                                <input type="time" class="form-control" name="to"
                                                                    value="">
                                                            </div>
                                                        </div>

                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label for="first-name-vertical">Quantity</label>
                                                                <input type="number" class="form-control"
                                                                    name="quantity" value="">
                                                            </div>
                                                        </div>

                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label for="first-name-vertical">Address<span
                                                                        class="text-danger">*</span></label>
                                                                <input type="text" class="form-control" name="address"
                                                                    value="">
                                                            </div>
                                                        </div>

                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label for="first-name-vertical">Price<span
                                                                        class="text-danger">*</span></label>
                                                                <input type="number" class="form-control" name="price"
                                                                    value="">
                                                            </div>
                                                        </div>

                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label for="first-name-vertical">Link video<span
                                                                        class="text-danger">*</span></label>
                                                                <input type="text" class="form-control"
                                                                    name="link_video" value="">
                                                            </div>
                                                        </div>

                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label for="first-name-vertical">Overview<span
                                                                        class="text-danger">*</span></label>
                                                                <textarea name="overview" class="form-control" cols="30"
                                                                    rows="5"></textarea>
                                                            </div>
                                                        </div>

                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label for="first-name-vertical">Active<span
                                                                        class="text-danger">*</span></label>
                                                                <select class="form-select" name="is_active">
                                                                    <option value="1">Active</option>
                                                                    <option value="0">Hide</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="col-12 d-flex justify-content-start">
                                                            <button type="submit"
                                                                class="btn btn-primary me-1 mb-1">Submit</button>
                                                            <a href="{{route('cms.ticket')}}" type="reset"
                                                                class="btn btn-danger me-1 mb-1">Back</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
        </div>
        <%- include('../partials/foot.ejs'); %>
            <script>
                $( document ).on( 'submit', '#form', function ()
                {
                    var formData = new FormData()
                    formData.append( '_token', $( '[name="_token"]' ).val() )
                    formData.append( 'type', $( '[name="type"]' ).val() )
                    formData.append( 'image', $( '[name="image"]' )[ 0 ].files[ 0 ] || '' )
                    formData.append( 'name', $( '[name="name"]' ).val() )
                    formData.append( 'date', $( '[name="date"]' ).val() )
                    formData.append( 'from', $( '[name="from"]' ).val() )
                    formData.append( 'to', $( '[name="to"]' ).val() )
                    formData.append( 'quantity', $( '[name="quantity"]' ).val() )
                    formData.append( 'address', $( '[name="address"]' ).val() )
                    formData.append( 'price', $( '[name="price"]' ).val() )
                    formData.append( 'link_video', $( '[name="link_video"]' ).val() )
                    formData.append( 'overview', $( '[name="overview"]' ).val() )
                    formData.append( 'is_active', $( '[name="is_active"]' ).val() )

                    $.ajax( {
                        url: '',
                        data: formData,
                        processData: false,
                        contentType: false,
                        type: 'POST',
                        success: function ( data )
                        {
                            console.log( data )
                            alertify.success( 'Successfully' );
                        },
                        error: function ( data, textStatus, jqXHR )
                        {
                            console.log(data.responseJSON )
                            alertify.error( data.responseJSON );
                        },
                    } );
                    return false
                } )
            </script>
</body>

</html>