<div class="component-loader">
    <div class="image">
        <div class="loadingio-spinner-ellipsis-o2pvyqj2g6">
            <div class="ldio-xhakwhc9o2f">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</div>
<!-- Popup -->
<div class="component-popup-mail">
    <div class="box">
        <h1 class="title">Gửi mail thành công</h1>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultricies enim et, lorem
            eget elementum ultrices. Ornare neque massa, id elit, venenatis nec interdum. </p>
        <div class="image"><img src="html/img/coolicon.svg" alt=""></div>
    </div>
</div>
<div class="component-popup-payment ">
    <div class="box">
        <h1 class="title">Xác thực thanh toán bằng ví MOMO</h1>
        <h2 class="head">Đơn hàng</h2>
        <div class="order">
            <div class="left">
                <div class="row">Trần Văn Tài</div>
                <div class="row">0935 381 473</div>
                <div class="row">vantai.tran@aimacademy.vn</div>
            </div>
            <div class="right">
                <table>
                    <tr>
                        <td>Đơn hàng</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="dot">Hạng mục Digital</td>
                        <td>01 vé</td>
                        <td>399.000 VNĐ</td>
                    </tr>
                    <tr>
                        <td class="dot">Hạng mục Marketers</td>
                        <td>01 vé</td>
                        <td>399.000 VNĐ</td>
                    </tr>
                    <tr>
                        <td>Tổng cộng</td>
                        <td></td>
                        <td>800.000 VNĐ</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="momo">
            <div class="left">
                <h3 class="title">Hướng dẫn và lưu ý khi thanh toán chuyển khoản MOMO</h3>
                <div class="content">
                    <table>
                        <tr>
                            <td>Người nhận</td>
                            <td class="bold">AIM Academy</td>
                        </tr>
                        <tr>
                            <td>Số tiền</td>
                            <td class="bold">399.000 VNĐ</td>
                        </tr>
                        <tr>
                            <td>Thông tin thanh toán</td>
                            <td class="bold">Mã chuyển MOMO</td>
                        </tr>
                        <tr>
                            <td><img src="html/img/momo.png" alt=""></td>
                            <td class="bold"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="right">
                <h3 class="title">QUÉT MÃ ĐỂ THANH TOÁN</h3>
                <div class="qr">
                    <img src="html/img/qr.png" alt="">
                </div>
                <div class="description">
                    <div class="image"><img src="html/img/qr2.svg" alt=""></div>
                    <div class="text">Sử dụng <span class="bold">app MOMO hoặc ứng dụng camera hỗ trợ QR code</span>
                        để quét mã</div>
                </div>
                <div class="holder">
                    <div class="image"><img src="html/img/loading.svg" alt=""></div>
                    <div class="text">
                        Đang chờ bạn quét
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="component-popup-payment ">
    <div class="box">
        <h1 class="title">Xác thực thanh toán bằng ngân hàng</h1>
        <h2 class="head">Đơn hàng</h2>
        <div class="order">
            <div class="left">
                <div class="row">Trần Văn Tài</div>
                <div class="row">0935 381 473</div>
                <div class="row">vantai.tran@aimacademy.vn</div>
            </div>
            <div class="right">
                <table>
                    <tr>
                        <td>Đơn hàng</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="dot">Hạng mục Digital</td>
                        <td>01 vé</td>
                        <td>399.000 VNĐ</td>
                    </tr>
                    <tr>
                        <td class="dot">Hạng mục Marketers</td>
                        <td>01 vé</td>
                        <td>399.000 VNĐ</td>
                    </tr>
                    <tr>
                        <td>Tổng cộng</td>
                        <td></td>
                        <td>800.000 VNĐ</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="bank">
            <div class="rows">
                <div class="row">
                    <div class="col">
                        Tên tài khoản
                    </div>
                    <div class="col">
                        Công ty Cổ phần Đào tạo AIM Academy
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Số tài khoản
                    </div>
                    <div class="col">
                        123456789
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Ngân hàng
                    </div>
                    <div class="col">
                        Ngân hàng ACB
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Chi nhánh
                    </div>
                    <div class="col">
                        PGD - Chi nhánh Tân Định
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Số tiền
                    </div>
                    <div class="col">
                        800.000 VNĐ
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Nội dung chuyển khoản
                    </div>
                    <div class="col">
                        VYL2022-Ticket-Phone number
                    </div>
                </div>
            </div>
            <div class="description">Lưu ý khi chuyển khoản, consectetur adipiscing elit. Ultricies enim et, lorem
                eget elementum ultrices. Ornare neque massa, id elit, venenatis nec interdum. Neque ipsum amet leo
                mi nullam
            </div>
            <div class="button">
                <a href="">Xác thực thanh toán</a>
            </div>
        </div>
    </div>
</div>
<div class="component-popup-end-stream ">
    <div class="box">
        <h1 class="title">Nhập mã kích hoạt để xem tiếp nhé</h1>
        <h2 class="head">Hạng mục tiếp theo</h2>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultricies enim et, lorem
            eget elementum ultrices. Ornare neque massa, id elit, venenatis nec interdum. Neque ipsum amet leo mi
            nullam
        </p>
        <input type="text" class="input" value="vantai.tran@aimacademy.vn">
        <button class="button">Kích hoạt</button>
    </div>
</div>
<div class="component-popup-active-success ">
    <div class="box">
        <h1 class="title">Kích hoạt thành công</h1>
        <div class="image"><img src="html/img/coolicon.png" alt=""></div>
    </div>
</div>
<div class="component-popup-notification ">
    <div class="box">
        <h1 class="title">Livestream chưa bắt đầu</h1>
        <div class="button">
            <button>Đóng</button>
        </div>
    </div>
</div>
<!-- end Popup -->