@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
}

html {
  // scroll-behavior: smooth;
  font-family: $font_family;
  // font-size: 0.52vw;
  // @include MB {
  //   font-size: 2.777vw;
  // }
}
// link
a {
  text-decoration: none;
  outline: none;
  color: currentColor;
}

img {
  width: 100%;
  height: auto;
}
